@model IEnumerable<Cineplex_Management.Models.Show>


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowEnd)
            </th>
            <th>
                @Html.Label("Hall Name")
            </th>
            <th>
                @Html.Label("Movie Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hall.HallName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.MovieName)
                </td>
            </tr>
        }
    </tbody>
</table>
