@model IEnumerable<Cineplex_Management.Models.Show>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowEnd)
            </th>
            <th>
                @Html.Label("Hall Name")
            </th>
            <th>
                @Html.Label("Movie Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShowId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
